<b:style src="./hint-popup.css"/>
<b:isolate/>

<div class="popup">
  <div class="section">
    <div class="section__title">
      <span class="section__title-text">组件</span>
    </div>
    <div class="section__content">
      <span class="name">
        {name}
      </span>
      <span b:show="{instanceLocation}">
        <span class="source">
          创建于 <span class="location">{instanceLocation}</span>
        </span>
        <span b:show="{openFileSupported}" class="ui-hint">
          使用 alt + click 打开编辑器的对应位置
        </span>
      </span>
    </div>
  </div>
</div>
